@import "tailwindcss";

.layout {
  /* --gap: clamp(1rem, 6vw, 3rem); */
  /* --full: minmax(var(--gap), 1fr); */
  /* --content: min(50ch, 100% - var(--gap) * 2); */
  /* --popout: minmax(0, 2rem); */
  /* --feature: minmax(0, 5rem); */

  background-color: #000;
  min-height: 100svh;
  width: 100%;
  isolation: isolate;
  display: grid;

  grid-template-columns: 275px 1fr;
}